body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button, .buttonForPhoto {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>p {
    margin-top: 0.2rem;
    padding: 1rem 1rem;
    background: #e4e4e4;
    max-width: 500px;
    clear: both;
    border-radius: 20px 20px 0 20px;
}

.userStyle {
    color: rgb(255, 255, 255);
    background: #8ac0fa !important;
    float: right;
    min-width: 500px;
    max-width: 500px;
}

.userStyle+.userStyle {
    border-radius: 20px 0px 20px 20px !important;
}

.chatStyle+.chatStyle {
    border-radius: 20px 0 20px 20px !important;
}

.defDiv {
    margin: 0;
    position: absolute;
    max-width: 300px;
    width: 250px;
    height: 200px;
    bottom: 50px;
    background-color: #efefef;
    display: none;
    z-index: -1;
    font-size: 40px;
    text-align: center;
}

.showDiv {
    display: initial !important;
    animation-name: animacijaDiva;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

.defDiv span {
    cursor: pointer;
}

.photo {
    width: 100%;
    margin-top: 1rem;
}

@keyframes animacijaDiva {
    from {
        bottom: -300px;
    }
    to {
        bottom: 50px;
    }
}

#html_btn {
    display: none;
}

.inputFileButton {
    cursor: pointer;
    display: flex;
    text-align: center;
    margin-left: 1rem;
    margin-right: 0;
}